body{
    font-family: Helvetica;
    text-align: center;
    color: blanchedalmond;
    background-color: cadetblue;
    padding: 5%; /* dentro da div */
    margin: 3%; /* fora da div */
    border: 5px solid #f0b6d5;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* divisor, pique quebra de texto */
    border-bottom: 1px solid #f0b6d5;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 15px;
}

ul li {
    margin-right: 12px;
}

ul li a {
    color: blanchedalmond;
}

h1 {
    font-size: 32px;
}

img {
    border: 3px solid #f0b6d5;
    width: 50%;
    
}

footer {
    padding: 20px;
    color: blanchedalmond;
    border-top: 1px solid #f0b6d5;
    margin-top: 20px;
    font-size: 20px;
}

#gif {
    /* colocou de ladinho */
    display: flex;
    gap: 20px;
    /* colocou no centro */
    justify-content: center;
}

#tp { 
    font-size: 30px;
}

#sub {
    padding-top: 20px;
}